

/* ===  This css file style custom === */
  .custom-border {
    border: 2px solid #295986;
  }

  .btn-custom {
    background-color: #295986;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }

  .btn-custom:hover {
    background-color: #37ae94;
    color: white;
  }

  .text-custom {
    color: #295986;
  }

