<div class="container py-5">


  <!-- Línea gris clara centrada -->
  <hr style="border: none; border-top: 2px solid #d8d8d8; width: 100%; margin: 0 auto 2rem auto;">

  <!-- Fila de logos centrados -->
  <div class="d-flex justify-content-center align-items-center flex-wrap gap-4 my-2">

    <a href="http://mexcov2.ibt.unam.mx:8080/COVID-TRACKER/" target="_blank" rel="noopener noreferrer">
      <img src="/images/covigen.png" alt="covigen" class="img-fluid" style="max-height: 160px;">
    </a>

    <a href="https://www.ibt.unam.mx/" target="_blank" rel="noopener noreferrer">
      <img src="/images/logo-ibt-azul.png" alt="ibt" class="img-fluid" style="max-height: 160px;">
    </a>

    <a href="https://www.unam.mx/" target="_blank" rel="noopener noreferrer">
      <img src="/images/unam.png" alt="unam" class="img-fluid" style="max-height: 160px;">
    </a>  
  </div>
</div>
